$font:'Rubik', sans-serif;
$roza: #e3cdb3;
$text:#484e52;
*{
    box-sizing: border-box;
    font-family: $font;
}
@import 'rfs_partial.scss';
/*Ponistavanje materialize*/
.modal{
    background-color: transparent;
    max-height: 100%;
}
nav{
    background-color: rgba(0, 0, 0, 0.35);
    line-height: 1.5;
    height: auto!important;
    i{
        font-size: 16px!important;
        height: auto;
    }
    ul{
        a{
            padding: 0px;
            &:hover{
                background-color: transparent;
            }
        }
    }
}
nav{
    button:focus{
        background-color: inherit;
        outline: none!important;
    }
    .btn:focus{
        background-color: inherit;
    }
}
.row{
    margin-bottom: 0px;
}
input[type=search]:not(.browser-default){
    margin: 0px;
    height: auto;
}
/*Kraj ponistavanja*/
.navbar-light {
.navbar-toggler{
    border-color: rgba(0,0,0,.5);
}
.navbar{
    padding-top: 5%;
    padding-bottom: 5%;
}
}
p{
    margin: 0px;
}
.header{
    padding-top: 1%;
    padding-bottom: 1%; 
}
.bela{
    color: white!important;
    text-transform: uppercase!important;
}
.hero{
    h1{
        @include font-size(9rem);
        color: white;
    }
    h2{
        @include font-size(2.5rem);
        color:white;
    }
    width: 100%;
    height:100vh;
    background-image:url('../img/pozadina.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#spliter{
    border-right: 2px solid  #c4c4c4;
    padding:0px 3px;
}
#shop{
    padding: .7rem 2.5rem;
    background-color:$roza;
    margin-top: 20%;
    @include font-size(1rem);
}
.aktivni{
    background-color: rgba(0, 0, 0, 0.5);
    transition: .4s;
}
#search{
    outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;
    background-color:rgba(132,132,132,.35);
    &::placeholder { 
        color: white;
    }
    &:focus{
        background-color: white;
    }
    &:focus::placeholder{
        color: black;
    }
}
.form-control{
    border-radius: .25rem!important;
    width:1%!important;
    padding: .375rem .75rem!important;
    &:not(:last-child) {
        border-top-right-radius: 0!important;
        border-bottom-right-radius: 0!important;
    }
}
.btn{
    i{
        font-size: 16px;
        height: auto!important;
    }
}
.text{
    h3{
        @include font-size(3.8rem);
        margin-top: 15%;
        color: $text;
    }
    p{
        @include font-size(1.5rem); 
        margin-top: 15%;
        padding-bottom: 5%;
        color: $text;
    }
}
.korisnici{
    background-color: rgba(0, 0, 0, 0.03);
    height: 140px;
}
.podnaslov{
    @include font-size(3.8rem);
    color: $text;
}
.slova{
    @include font-size(1rem);
}
.prvi{
    @include font-size(1.3rem);
}
.drugi{
    @include font-size(1rem); 
}
.treci{
    color: $text;
    @include font-size(1rem);
}
#satisfaction{
    padding-bottom: 20px;
}
footer{
    background-color: #484e52;
}
#copyright{
    background-color: #19191a;
    p{
        @include font-size(.85rem);
    }
}
.roza{
    color: $roza;
}
.ikonica{
    @include font-size(1.5rem);
}
.svetla{
    background-color: #7a7c7e;
}
.visina{
    height: 40px;
}
h5{
    margin-bottom: 0px;
    @include font-size(1rem);
}
#lokacija{
    @include font-size(.85rem);
}
#mailto{
    @include font-size(1rem);
    &:hover{
        text-decoration:none;
        color:#007bff;
    }
}
#company{
    margin-bottom: 1rem;
}
#opis{
    @include font-size(.97rem);
}
#social{
    a:hover{
        text-decoration: none;
    }
}
#slider{
    margin-top: 100px;
    h1{
        color:$text;
        @include font-size(4rem);
    }
}
.carousel-item{
    width: 100%;
    height:525px;
}
.price{
    @include font-size(1.3rem);
}
.table{
    th{
        border-top: 0px;
    }
    td{
        border-top: 0px;
    }
}
.details{
    background-color: #8e8e8e;
    color: white;
}
.btn:focus{
    outline: none;
    box-shadow:none;
}
.buy{
    background-color: $roza;
    color: white;
}
.product-height{
    height: 70px;
}
.specs{
    font-size: 16px;
}
.product-title{
    font-size: 15.8px;
}
.input-field {
    .dropdown-content{
        li>span{
            color:$text;
        }
    }
    input[type=text]:focus + label{
        color: $text!important;
    }
    input[type=text]:focus{
        border-bottom: 1px solid $text!important;
        box-shadow: 0 1px 0 0 $text!important;
    }
    input[type=email]:focus + label{
        color: $text!important;
    }
}
input[type=email]:focus{
    border-bottom: 1px solid $text!important;
    box-shadow: 0 1px 0 0 $text!important;
}
textarea.materialize-textarea:focus{
        border-bottom: 1px solid $text!important;
        box-shadow: 0 1px 0 0 $text!important;
}
textarea.materialize-textarea:focus + label{
    color: $text!important;
}
#prelaz:hover, #prelaz:active, #prelaz:focus{
    background-color: $text;
    color: white;
    outline: none!important;
}
.btn-floating{
    background-color: $roza!important;
}
.border-none{
    border-bottom: 0px;
}
.left-margin{
    margin-left: 45%;
}
.modal-width{
    max-width: 770px;
}
.info{
    margin-top: 35%;
}
.btn-large:focus{
    outline: none;
}
.personal{
    &:hover{
    text-decoration: none;
    color: black;
    }
    color: $text;
}
#modal-naslov{
    @include font-size(1.6rem);
}
.autor-text{
    @include font-size(1rem);
}